@import "_ultility.scss";
@import "_text.scss";
@import "_markdown.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
padding-top: 50px;
padding-left: 600px;
padding-right: 600px;
  }

content {
  border: 4px solid black;
  border-radius: 10px;
  padding: 10px;
}

content.clicked {
  border-color: red;

}

content:hover {
  border-color: #e8e8e8;
  padding-top: 10px;
} 

div{
  
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: #fcfcfc;
  text-decoration: none;
}

ul {
  margin-top: 0.5rem;
}

ul > li {
  padding: 0.3rem 0;
}

p > img {
  width: 100%;
  height: auto;
}

img{
  
   padding: 10px 0 25px 0;
}

div{
padding-top: 20;
}

header {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Alfa Slab One", serif;
  font-size: 32px;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  margin: 0 40px;

  img {
    width: 60px;
    margin: 0 25px;
  }
}

.nav-item {
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    color: var(--primary-text-color-over);
    text-decoration: underline;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding: 0 40px;

  .explore-more {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
  }
}





@media screen and (min-width: 1280px) {
  .content {
    max-width: 60%;
    min-width: 800px;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-size: 28px;
    margin: 10px;

    img {
      width: 45px;
      margin: 0 10px 0 0;
    }
  }

  .nav-item {
    margin: 0 5px;
    font-size: 14px;
  }

  .hero {
    padding: 40px 30px;
  }


  .content {
    padding: 0;
  }

  .explore-more, .toc {
    display: none;
  }

}
