<style>
    :root {
        /* Primary theme color */
        --primary-color: ##041964;
        /* Primary theme text color */
        --primary-text-color: #CDD7FD;
        --primary-text-color-over: #CDD7FD;
        /* Primary theme link color */
        --primary-link-color: #082FBE;
        /* Secondary color: the background body color */
        --secondary-color: #051E78;
        --secondary-text-color:#CDD7FD;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #082FBE;
        --toc-background-color: white;
        --code-color: #082FBE;
        --code-background-color: white;

        --shadow-color: #ddd;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-color: #051E78;
            --primary-text-color:#f2f2f2;
            --primary-text-color-over: #FFF;
            --primary-link-color:#B22222;
            --secondary-color:#041964;
            --secondary-text-color: #f2f2f2;
            --toc-highlight-text-color: #f2f2f2;
            --toc-background-color: #3a3a3a;
            --code-color: white;
            --code-background-color: #4a4a4a;

            --shadow-color:#CDD7FD;
        }
    }
</style>
