<style>
    :root {
        /* Primary theme color */
        --primary-color: #FFFFFF;
        /* Primary theme text color */
        --primary-text-color: #707070;
        --primary-text-color-over: #707070;
        /* Primary theme link color */
        --primary-link-color: #707070;
        /* Secondary color: the background body color */
        --secondary-color: #E8E8E8;
        --secondary-text-color:#CDD7FD;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #464646;
        --toc-background-color: #2e2e2e;
        --code-color: #082FBE;
        --code-background-color: white;

        --shadow-color: #707070;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-color: #FFFFFF;
            --primary-text-color:#000000;
            --primary-text-color-over: #707070;
            --primary-link-color:#310250;
            --secondary-color:#E8E8E8;
            --secondary-text-color: #f2f2f2;
            --toc-highlight-text-color: #E8E8E8;
            --toc-background-color: #707070;
            --code-color: white;
            --code-background-color:#2e2e2e;

            --shadow-color:#E8E8E8;
        }
    }
</style>
