<style>
    :root {
        /* Primary theme color */
        --primary-color: #e8e8e8;
        /* Primary theme text color */
        --primary-text-color: black;
        --primary-text-color-over: #000;
        /* Primary theme link color */
        --primary-link-color: #F9BB2D;
        /* Secondary color: the background body color */
        --secondary-color: #fcfaf6;
        --secondary-text-color: #303030;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #d46e13;
        --toc-background-color: white;
        --code-color: white;
        --code-background-color: #e8e8e8;

        --shadow-color: #ddd;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary-color: #e8e8e8;
            --primary-text-color: black;
            --primary-text-color-over: #FFF;
            --primary-link-color: black;
            --secondary-color: #ffffff;
            --secondary-text-color: #f2f2f2;
            --toc-highlight-text-color: #f2f2f2;
            --toc-background-color: #3a3a3a;
            --code-color: white;
            --code-background-color: #4a4a4a;


        }
    }
</style>
