{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" border= "5px"> 
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeCodeEtMOI</title>
    <link rel="stylesheet" href="css/bulma.css">
  </head>
  <body>
 <nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="Index.html">
      <img src="logo.svg" width="300" height="64">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      </a>

      <a class="navbar-item"href="Idées.html">
        Idées
      </a>
        <a class="navbar-item"href="Tutoriels.html">
        Tutoriels
          </a>
          <a class="navbar-item"href="Guides.html">
        Guides
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock content %}